.card-item {
    min-height: 100px;
    width: 200px;
    background: yellow;
    margin: 10px;
    border-radius: 10px;
}

.card-item__title {
    padding: 2px 5px;
    text-align: left;
    background: orange;
    border-radius: 10px;
}

.card-item__tasks {

}

.card-item__input {
    margin: 10px;
}
